table {
    margin: 0 auto;
    width: 95%;
    border: 3px outset white;
    border-spacing: 0;
    font-weight: bold;
    border: 5px ridge white;
    text-align: center;
}

.red{
    color:red;
}

h5{
    text-align: center;
    margin: 0;
}

td{
    border: 2px ridge white;

}

.celda1{
    background-color: #99FF99;
}

.celda2{
    background-color: #66FEFF;
    text-align: left;
}

.celda6{
    background-color: #FF99FF;
    text-align: right;
    padding: 40px 0 0 0;
}